.product-image {
    position: relative;
    width: 100%;
    height: 220px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 15px;
    transition: transform 0.3s ease;
}

.card:hover .product-image img {
    transform: scale(1.08);
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    background: #16a34a;
    color: white;

    padding: 5px 10px;
    border-radius: 5px;

    font-size: 12px;
    font-weight: bold;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 10px 0;
    font-size: 17px;
}

.rating {
    color: #555;
    font-size: 13px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.price del {
    color: #888;
    font-size: 14px;
    margin-left: 6px;
}

.card button {
    width: 100%;
    border: none;
    padding: 12px;

    background: #ff9f00;
    color: white;

    font-size: 15px;
    font-weight: bold;

    border-radius: 7px;
    cursor: pointer;
}

.card button:hover {
    background: #fb641b;
}